*.a
cocos2d/licenses/
*.obj
*.tlog
*.log
*.pdb
*.lib
*.idb
*.sdf
*.opensdf
*.dll
proj.win32/Debug.win32/
*.suo
*.cache
*.user
proj.win32/Release.win32/
proj.android/obj/
proj.android/bin/
cocos2d/cocos/platform/android/java/bin/
proj.android/libs/
proj.android/.settings/org.eclipse.jdt.core.prefs
proj.android/lint.xml
proj.android/assets/
proj.android/.externalToolBuilders/
proj.android/gen/
